BOT_NAME=⏧𝕱ɪᴋᴛᴀᴛᴜʀ
RIGHTS=⏧𝕱ɪᴋᴛᴀᴛᴜʀ
DEVELOPER=⏧𝕱ɪᴋᴛᴀᴛᴜʀ
PASSWORD=Fiktator
PREFIX=.
CHANNEL_JID=120363409838303399@newsletter
CHANNEL_URL=https://whatsapp.com/channel/0029Vb8QtAcCHDynKvfaS93T
WELCOME_IMAGE_1=https://i.ibb.co/30B3jP0/1000490440.jpg
WELCOME_IMAGE_2=https://i.ibb.co/C0WbLzD/1000490439.jpg
WELCOME_IMAGE_3=https://i.ibb.co/sK08rZp/1000490442.jpg
NODE_ENV=development
REDIS_URL=redis://127.0.0.1:6379
